<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="nav-link">
                    <span data-feather="home" class="align-text-bottom"></span>
                    <b style="color:#000000">{{ request.user.get_username }}</b>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ihaadd' %}">
                    <span data-feather="file" class="align-text-bottom"></span>
                    IHA Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ihalist' %}">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    IHA Lists
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                 Sign out
                </a>
            </li>
        </ul>
    </div>
</nav>
